/*GOOGLE FONT FILE*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,200;1,300;1,900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(23, 73, 138, 0.9));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 130vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 100%;
}

h3 {
    color: yellow;
}

.logo {
    margin-left: 60px;
    margin-top: 50px;
}


.user {
    cursor: pointer;
    color: teal;
    margin-top: 40px;
    margin-right: 40px;
}

.user a {
    text-decoration: none;
    color: bisque;
    background-color: teal;
    border-radius: 10px;
    padding: 10px 30px;

}

.user a:hover {
    background-color: black;
    color: teal;
    font-weight: bolder;
}

.user i {
    font-size: 20px;
    margin-right: 10px;
    padding: 0px 14px;
}

.text-nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: azure;
}