* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   
    background-position: center;
    background-repeat: unset;
    background-size: cover;
    
    
}

.form {
    text-align: center;
    width: 400px;
    padding: 1rem;
    background-color: transparent;
    border-radius: 2rem;
    
   
    

  

}

.sign-in-container {
    display: none;
    color: #222;
    
}

h1 {
    margin-bottom: 1rem;
}

.form input {
    display: block;
    width: 100%;
    padding: .5rem;
    margin: auto;
    margin-bottom: 20px;
    outline: none;
    padding: 1rem;
    font-weight: 400;
   border-radius: 2rem;
   background-color: transparent ;
   

}

.form input[type="text"].error {
    border: solid thin red;
}

.form input[type="email"].error {
    border: solid thin red;
}

.form input[type="password"].error {
    border: solid thin red;
}

.form input[type="submit"] {
    width: 100%;
    padding: .5rem;
    cursor: pointer;
    background-color: rgb(6, 6, 6);
    border: none;
    color: #fff;
}

.form a {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    width: 150px;
    font-size: .7rem;
    color: black
    ;
    cursor: pointer;
    text-decoration: underline;
}

.notify {
    width: 100%;
    position: absolute;
    top: 0;
    padding: 1rem;
    text-align: center;
    color: #fff;
    display: none;
}

.check_notify {
    background-color: green;
}

.check_notify.active {
    display: block;
}

.error_notify {
    background-color: red;
}

.error_notify.active {
    display: block;
}